.ciudad {
    background-color: bisque;
    border-radius: 24%;
    width: 10cm;
    height: 6;
    font-family: 'Lucida Sans';
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}
.centigrades{
    font-size: 1em;
}
.grades {
    font-size: 0.5em;
}